<% flash.each do |key, value| %>
<<<<<<< HEAD
  <div>
    <%= value %>
  </div>
<% end %>

<% if user_signed_in? %>
  <div id="current-user"></div>
  <p>Signed in as <%= current_user.name %> | <%= link_to 'log out', destroy_user_session_path, method: :delete %></p>
<% end %>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Users', users_path %></li>
=======
<div>
<%= value %>
</div>
<% end %>

<% if user_signed_in? %>
<div id="current-user"></div>
<p>Signed in as <%= current_user.name %> | <%= link_to 'log out', destroy_user_session_path, method: :delete %></p>
<% end %>
<ul>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Users', users_path %></li>
>>>>>>> 03e225a8cba8f3253c188bb8d72cdc1e5e2b6fe3
</ul>
